<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Admin Page</title>
<link th:insert="~{Component/head::BootStrap1}" />
<script th:insert="~{Component/head::BootStrap2}"></script>
<script th:insert="~{Component/head::BootStrap3}"></script>
<script th:insert="~{Component/head::BootStrap4}"></script>
</head>
<body>
	<div class="container" th:fragment="table">
		<table class="table table-striped" border="1" style="width: 1110px;">
			<thead class="bg-primary text-white">
				<tr>
					<th>STT</th>
					<th>Id</th>	
					<th>Username</th>
					<th>Address</th>
					<th>Email</th>
					<th>Phone</th>


				</tr>
			</thead>
			<tbody>
				<tr th:each="user, iterStat: ${listUser}">
					<td th:text="${iterStat.count}" class="text-center"></td>
					<td th:text="${user.id}" class="text-center"></td>
					<td th:text="${user.username}"></td>
					<td th:text="${user.address}" class="text-center"></td>
					<td th:text="${user.email}"></td>
					<td th:text="${user.phone}" class="text-center"></td>
				</tr>
			</tbody>
		</table>
		<span th:text="'Total rows:' + ${alluser}"></span>
		<nav aria-label="Page navigation example">
			<ul class="pagination justify-content-end">
				<th:block>
					<li class="page-item" th:each="page : ${numberPage}"><a
						class="page-link" th:href="@{/adminPage/page(p=${page})}"
						th:text="${page}" th:unless="${page == 0}"></a> 
						<a class="page-link" href="/adminPage/page?p=0" th:if="${page == 0}">First</a>
					</li>
				</th:block>
				<li class="page-item"><a class="page-link"
					th:href="@{/adminPage/page(p=${listUser.getTotalPages()-1})}">Last</a></li>
			</ul>
		</nav>
	</div>
	<div class='container-fluid'>
		<div class="card mx-auto col-md-3 col-10 mt-5">
			<img class='mx-auto img-thumbnail'
				src="https://i.imgur.com/pjITBzX.jpg" width="auto" height="auto" />
			<div class="card-body text-center mx-auto">
				<div class='cvp'>
					<h5 class="card-title font-weight-bold">Yail wrist watch</h5>
					<p class="card-text">$299</p>
					<a href="#" class="btn details px-auto">view details</a><br /> <a
						href="#" class="btn cart px-auto">ADD TO CART</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>